{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "modules": false,
        "loose": true,
        "targets": { "browsers": [">2%"] }
      }
    ]
  ],
  "plugins": ["add-react-displayname"],
  "env": {
    "test": {
      "presets": [
        "@babel/react",
        [
          "@babel/env",
          {
            "modules": "commonjs",
            "loose": true,
            "targets": { "browsers": [">2%"] }
          }
        ]
      ]
    }
  }
}
