{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "import/prefer-default-export": "off"
  }
}
