/*! purgecss start ignore */
@tailwind preflight;
/*! purgecss end ignore */

@tailwind components;

@tailwind utilities;

.bg-checkerboard {
  background-color: #fff;
  background-image: linear-gradient(
      45deg,
      #f6f6f6 25%,
      transparent 25%,
      transparent 75%,
      #f6f6f6 75%,
      #f6f6f6
    ),
    linear-gradient(
      45deg,
      #f6f6f6 25%,
      transparent 25%,
      transparent 75%,
      #f6f6f6 75%,
      #f6f6f6
    );
  background-position: 0 0, 1rem 1rem;
  background-size: 2rem 2rem;
}
