# Javascript Node CircleCI 2.0 configuration file
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
version: 2

defaults: &defaults
  working_directory: ~/tailwind-react-ui
  docker:
    - image: circleci/node:lts

jobs:
  install:
    <<: *defaults
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-

      - run:
          name: Install dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}

      - persist_to_workspace:
          root: ~/tailwind-react-ui
          paths: .

  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/tailwind-react-ui

      - run:
          name: Lint code
          command: npm run lint

      - run:
          name: Run unit tests
          command: npm test

  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/tailwind-react-ui

      - run:
          name: Run build
          command: npm run build

      - run:
          name: Run styleguide generation
          command: npm run docs

      - persist_to_workspace:
          root: ~/tailwind-react-ui
          paths: .

  publish:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/tailwind-react-ui

      - run:
          name: Deploy to GitHub
          command: npm run docs:deploy

      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/tailwind-react-ui/.npmrc

      - run:
          name: Publish package
          command: npm publish

workflows:
  version: 2

  ci:
    jobs:
      - install:
          filters:
            tags:
              only: /^v.*/
      - test:
          requires:
            - install
      - build:
          requires:
            - install
          filters:
            tags:
              only: /^v.*/
      - publish:
          context: npm
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
